*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #ffffff;
}

.quiz{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center{
    margin: 20px 0;
    font-size: 32px;
    font-weight: bold;
}

.mainbox{
    width: 100%;
    max-width: 900px;
    background-color: #c8f0ed;
    padding: 30px;
    border-radius: 10px;
}

.block{
    margin-bottom: 30px;
}


.block h3{
    margin-bottom: 10px;
}

.block p{
    font-size: 16px;
}

.options{
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.option{
    width: 90px;
    height: 45px;
    background-color: #F8FEFC;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.25s ease;
    border: 1px solid #333;
}

.option:hover{
    background-color: #b7ebe4;
    transform: translateY(-3px);
}

.Unlimited-btn{
    margin: 20px 0;
    width: 220px;
    height: 48px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.25s ease;
}

.Unlimited-btn:hover{
    background-color: #b7ebe4;
    transform: translateY(-3px);
}

img{
    width: 24px;
    height: 24px;
    object-fit: contain;
    vertical-align: middle;
    margin-right: 8px;
}

.setup{
    margin-top: 20px;
    background-color: white;
    padding: 16px;
    border-radius: 12px;
    color: #000;
}

@media (max-width: 768px) {
    .mainbox {
        margin: 0 16px;
        padding: 20px;
    }

    .options {
        flex-wrap: wrap;
    }

    .option {
        width: 100%;
    }
}



    
    
